@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #6f73ed;
    --main-text: #282739;
    --hit-color: #EE685F;
}

* {
    font-family: Jost;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 150px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: #fefefe;
    margin: 0;
}

a {
    text-decoration: none;
}

.first-header {
    height: 39px;
    margin-top: -2px;
}

.first-header-left img {
    cursor: pointer;
    margin-right: 9px;
}

.first-header-left a {
    font-weight: 400;
    font-size: 12px;
    color: #5D6C7B;

}

.first-header-right a img {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    margin-left: 9px;
}

.first-header-right {
    width: 14%;
}

.first-header-left a:not(img) {
    margin-right: 30px;
}

.first-header-right p {
    font-weight: 600;
    font-size: 14px;
    color: var(--main-text);
}

hr {
    border: 0.5px solid #ECF3FF;
    margin-top: -2px;
}

.second-header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-button, .logo {
    cursor: pointer;
}

.catalog-button {
    margin-left: 35px;
    margin-right: 20px;
}

.header-search {
    width: 603px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border: var(--main-color) 2px solid;
    border-radius: 9px;
    margin-right: 47px;
}

.search-button {
    width: 55px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-search select {
    display: flex;
    width: 76px;
    height: 32px;
    padding-left: 8px;
    margin-top: 4px;
    margin-left: 4px;
    justify-content: space-around;
    position: relative;
    background: #F4F7FB;
    border-radius: 5px;
    appearance: none;
    background-image: url("./img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 55px;
    background-position-y: 13px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    border: none;
}

.header-search select:focus, .header-search input:focus {
    outline: none;
}

.header-search input {
    border: none;
    width: 100%;
    padding-left: 20px;
}

.header-search input::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 175px;
    width: 100%;
}

.header-buttons img {
    cursor: pointer;
}

.third-header {
    background-color: #f3f6fa;
    height: 40px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: var(--main-text);
    margin-top: 45px;
    margin-bottom: 30px;
}

.third-header * {
    color: var(--main-text);
}

.third-header .container {
    width: 776px;
    margin-left: 215px;
}

.third-header img {
    cursor: pointer;
}

.delvieryandpay img, .aktsii img {
    margin-left: 8px;
}

.swiper {
    width: 70%;
    height: 421px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.slide-img-2 {
    width: 315px;
    height: 65px;
    left: 580px;
    top: 230px;
}

.swiper-1slide-info {
    position: relative !important;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.swiper-1slide-info img {
    width: 315px;
    height: 65px;
    padding-left: 90px;
    padding-top: 42px;
}

.swiper-slide img {
    position: absolute;
}

.swiper-1slide-info span {
    width: 74px;
    height: 27px;
    top: 39px;
    left: 70px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

.swiper-1slide-info h2, .swiper-2slide-info h2 {
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    width: 615px;
    color: white;
    position: relative;
    left: 70px;
    top: 36px;
}

.swiper-1slide-info p, .swiper-2slide-info p {
    font-weight: 300;
    font-size: 20px;
    color: white;
    position: relative;
    left: 70px;
    top: 7px;
}

.swiper-1slide-info a {
    width: 177px;
    height: 53px;
    border-radius: 5px;
    position: relative;
    left: 70px;
    top: 25px;
    background: #FFFFFF;
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 15px 25px 15px 25px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: white;
    border: 1px solid #FFFFFF33;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    font-size: 14px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-scrollbar-drag {
    background: white !important;
    width: 15px !important;
}

.swiper-button-prev:after{
    padding-right: 3px;
}

.swiper-button-next:after{
    padding-left: 3px;
}

.swiper-button-prev{
    left: 125px !important;
    top: 380px !important;
}

.swiper-button-next{
    right: 1070px !important;
    top: 380px !important;
}

.swiper-pagination-horizontal{
    color: white !important;
    left: -470px !important;
    top: 340px !important;
}

.swiper-scrollbar{
    width: 34px !important;
    top: 375px !important;
    left: 160px !important;
}

.swiper-2slide-info img{
    width: 770px !important;
    height: 40px;
    left: 70px;
    padding-top: 10px;
}

.swiper-2slide-info a{
    position: relative;
    left: 70px;
    background-color: white;
    color: #F3A712;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    top: 85px;
}

.zoomicon{
    width: 50px !important;
    height: 50px !important;
    position: relative;
    top: 55px;
    left: 530px;
}

.swiper-3slide-info img{
    width: 62px;
    height: 27px;
    position: relative;
    top: 67px;
    left: 706px;
}

.swiper-3slide-info h2{
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    color: white;
    width: 528px;
    top: 60px;
    left: 703px;
}

.swiper-3slide-info a{
    position: relative;
    background: white;
    width: 240px;
    height: 53px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    font-weight: 400;
    font-size: 16px;
    color: #3C89FD;
    left: 705px;
    top: 75px;
}

.info-about-company{
    margin-top: 40px;
    margin-bottom: 75px;
}

.info-about-company h2{
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--main-text);
}

.info-about-company p{
    font-weight: 400;
    font-size: 16px;
    color: var(--main-text);
    margin-top: -20px;
}

.info-about-company a{
    margin-top: 7px;
}

.electroscooters-header{
    margin-bottom: 30px;
}

.electroscooters-header h2{
    font-weight: 600;
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;   
    color: var(--main-text); 
}

.nonactive-button{
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    background: #F4F7FB;
    border: none;
    font-weight: 400;
    font-size: 13px;
    color: #5D6C7B;
    cursor: pointer;
    margin-left: 10px;
}

.active-button{
    border-radius: 5px;
    padding: 10px 18.7px 10px 18.7px;
    background: #F4F7FB;
    font-weight: 400;
    font-size: 13px;
    color: var(--main-color);
    border: 1.3px solid var(--main-color);
    cursor: pointer;
    margin-left: 10px;
}

.electroscooters-main, .kart-other-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.kart {
    width: 255px;
    height: 515px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid #e9eaec;
}

.kart-img * {
    cursor: default !important;
    
}

.kart-img img{
    width: 100%;
    margin-top: 27px;
}

.kart-img{
    height: 255px;
    background-color: #eff0f4;
}

.kart-img span{
    width: 41px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--hit-color);
    color: white;
    font-weight: 400;
    font-size: 12px;  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -217px;
    margin-left: 10px;
}

.vesy-vkruge-kart{
    width: 35px !important;
    height: 35px;
    margin-left: 210px;
    top: -55px;
    position: relative;
    cursor: pointer !important;
}

.other-buttons img{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.other-buttons a{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1.3px solid #EAEBED;
    display: block;
    margin-left: 10px;
}

.kart-info{
    padding: 20px 25px 20px 25px;
}

.kart-info *{
    margin: 0;
}

.kart-other-info{
    height: 65px;
}

.kart-info h2{
    font-weight: 600;
    font-size: 18px;
    color: var(--main-text);
    margin-bottom: 20px;
}

.price span{
    font-weight: 600;
    font-size: 12px;
    text-decoration: line-through;
    color: #5D6C7B;
}

.price h2{
    font-weight: 600;
    font-size: 20px;
    color: var(--main-text);
}

.kart-other-info div{
    display: flex;
    justify-content: start;
    align-items: center;

}

.kart-other-info img{
    margin-right: 10px;
}

.kart-other-info p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #5D6C7B;
}

.buy-in1-click{
    width: 165px;
    height: 22px;
    display: block;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #6F73EE;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: white;
}

.kart-new{
    width: 63px !important;
    height: 25px !important;
    border-radius: 5px;
    background: #75D14A !important;
}

.energy{
    position: relative;
    left: 8px;
}

.electroscooters-footer{
    margin-top: 65px;
    margin-bottom: 102px;
}

.electroscooters-footer a{
    border: 1.3px solid var(--main-color);
    width: 142px;
    height: 53px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: auto;
}

.banner2_0{
    position: relative;
    bottom: 191px;
    z-index: -1;
}

.podbor-electroscooters h2, .service-support h2{
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--main-text);
    width: 258px;
    height: 72px;
    margin: -5px 0;
}

.podbor-electroscooters h2, .podbor-electroscooters p, .podbor-electroscooters a, .service-support h2, .service-support p, .service-support a{
    padding-left: 40px;
}

.podbor-electroscooters p, .service-support p{
    width: 258px;
    height: 46px;
    color: var(--main-text);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 22px;
}

.podbor-electroscooters a p, .service-support a p{
    color: var(--main-color);
}

.podobrat-model{
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
}